* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1D1F21;
  color: #CFE1C7;
}

button, input[type="text"] {
  padding: 5px;
  background-color: #3B4039;
  color: #09CF81;
}

button:hover {
  cursor: pointer;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid rgb(155, 223, 139);
  padding: 20px;
}

.shopping-item {
  display: block;
  color: #3DA70C;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
  color: #CF09BA;
}